<form action="new/post" method="post">
  <label for="title">Title</label>
  <input name="title" id="form-title" type="text">

  <label for="form-content">Content</label>
  <textarea name="content" id="form-content"></textarea>

  <button type="submit">Submit</button>
</form>